h1 {
    text-align:center;
    background-color: rgb(255, 30, 0);
}
h2{
    text-align: center;
}
h3{
    font-style: oblique;
    background-color: rgb(251, 255, 0);
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: blueviolet;
}
.imagem1 {
    width: 200px;
}
.imagemcentralizada {
 text-align: center;
}

.unicornio {
    background-color: rgb(34, 139, 139)

}
.brilho {
   color: rgb(255, 0, 191);
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
    }

nav a {
    text-transform: uppercase
    color: #000;
    font-weight: bold
    font-size: 22px
    text-decoration: none
        }